@model List<Product>

@{
    Layout = "_Layout";
}

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Categories
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @foreach (var item2 in item.ProductCategories)
                    {
                        <span class="border border-primary rounded p-1">@item2.Category.Name : @item2.Category.Description</span>
                    }
                </td>
                <td>

                </td>
            </tr>  
        }
    </tbody>
</table>